@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-catergoryName="" asp-route-pageNum="1" class="btn btn-outline-secondary">Home</a>
    @foreach (string c in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-catergoryName="@c" asp-route-pageNum="1"
           class="btn @(ViewBag.SelectedCatergory == c ? "btn-primary" : "btn-outline-secondary") btn-outline-secondary">@c</a>
    }
</div>
